.alert {
  text-align: center;
  position: center;
  top: 100px;
  right: 16px;
  z-index: 1000;
}

.flash {
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(26, 129, 57);
  box-shadow: 0 0 8px rgba(0,0,0,0.3);
  border-radius: 4px;
  margin: 8px;
}

.flash-success {
  border: 2px solid #1EDD88;
}
