.back_button {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
  text-decoration: none;
}

.back_button:hover {
  background: linear-gradient(#4dc457, #0F67DA);
  color: white;
}

.home_button {
  text-align: center;
  margin-top: 200px;
}
